/* CSS file */
@namespace "library://ns.tink.ws/flex/spark";
@namespace s "library://ns.adobe.com/flex/spark";

Accordion
{
	skinClass: ClassReference("ws.tink.spark.skins.containers.AccordionSkin");
}

Accordion s|ButtonBarButton
{
	cornerRadius : 0;
}

BorderDataNavigator
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.BorderDataNavigatorSkin");
}

DataAccordion
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.DataAccordionSkin");
}

DataAccordion s|ButtonBarButton
{
	cornerRadius : 0;
}

DataNavigator
{
	skinClass: ClassReference("ws.tink.spark.skins.controls.DataNavigatorSkin");
}

Navigator
{
	skinClass: ClassReference("ws.tink.spark.skins.containers.NavigatorSkin");
}